.payway-balance-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.payway-balance-value {
    font-weight: bold;
}

.payway-month-selector {
    max-width: 150px;
}

.column-payway_balance {
    width: 200px;
}

.column-payway_withdrawal_balance {
    width: 200px;
}